@model CreateOrEditArticleViewModel

<h1>Add new article</h1>

<form asp-action="Create" asp-controller="Article">
    <div class="mb-3">
        <label class="control-label" asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label class="control-label" asp-for="ShortDescription">Short description</label>
        <input type="text" class="form-control" asp-for="ShortDescription" />
    </div>
    <div class="mb-3">
        <label class="control-label" asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>
    <div class="mb-3">
        <label class="control-label" asp-for="Image">Image link</label>
        <input type="text" class="form-control" asp-for="Image" />
    </div>
    <div class="mb-3">
        <label class="control-label" asp-for="Category">Category</label>
        <select name="category" asp-items="Model.ArticlesViewModel.SelectViewModel.Categories" class="form-control">
            <option value="0">Select Category</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="control-label" asp-for="Tags">Tags</label>
        <select name="tag" asp-items="Model.ArticlesViewModel.SelectViewModel.Tags" class="form-control">
            <option value="0">Select Tag</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

